<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AllyMatch</title>

  <!-- Custom fonts for this template-->
  <link href="static/frontEnd/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

  <title>AllyMatch</title>
    <script src="{{ url_for('static',filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

  function submitVal(ev){
        $.ajax( {
            url: '/submit',
            type: 'POST',
            data: new FormData( document.getElementById("upload-form") ),
            processData: false,
            contentType: false,
            success: function(result){
                obVal = result;
                $("#div1").html(obVal.html);
                $("#div2").html(obVal.html2);

                $("#cardBody1").html(obVal.count1);
                $("#cardBody2").html(obVal.count2);
            }
        } );

      }

      function submitWeights(){
        $.ajax( {
            url: '/weights',
            type: 'POST',
            data: new FormData( document.getElementById("upload-formz") ),
            processData: false,
            contentType: false,
            success: function(result){
                location.reload();

            }
        } );

      }
  </script>

  <style>
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 48px; }

    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar toggled sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a style="margin-top: 20px;" class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
        <i class="material-icons md-48 md-light">local_hospital</i>
        <span>
        Office Ally
      </span>
      </div>

      </a>
      <br>
        
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Monitoring
      </div>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Settings
      </div>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="modal" data-target="#exampleModal" aria-expanded="true">
          <i style="color: white;" class="fas md-light fa-wrench"></i>
          <span>Configure</span>
        </a>
        

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modify Weights</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="upload-formz" action="/weights" method="POST" enctype="multipart/form-data">
                  <input id="file-picker2" type="file" name="file" accept=".csv">
               </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="submitWeights()">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        The Team
      </div>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/about">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>About</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Algorithm
      </div>

      <li class="nav-item">
        <a class="nav-link collapsed" target="_blank" href="https://github.com/theriley106/Patient-Matching">
          <img style="filter: invert(100%);" src="/static/github.png" height="18px" width="18px">
          <span>Github</span>
        </a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" target="_blank" href="https://github.com/theriley106/Patient-Matching/blob/master/cleanData.py">
          <img style="" src="/static/python.png" height="20px" width="18px">
          <span>Download Script</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column toggled">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        
        <br>
        <!-- Begin Page Content -->
        <div class="container-fluid">



          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">

            <h1 class="h3 mb-0 text-gray-800">Patient Matching Dashboard</h1>

            <div>

            <form id="upload-form" action="/submit" method="POST" enctype="multipart/form-data">
              <input id="file-picker" type="file" name="file" accept=".csv" style="display:none" class="hidden" onchange="submitVal(this);">
              <label for="file-picker" class="btn btn-lg btn-secondary">Upload Dataset</label>
           </form>
          </div>
          </div>

          <!-- Content Row -->
          

    
          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 id="pingTimeHeader" class="m-0 font-weight-bold">Rows Uploaded</h6>
                </div>
                <!-- Card Body -->
                <div id="cardBody1" class="card-body">
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 id="marketPriceHeader" class="m-0 font-weight-bold">Success Rate</h6>
                </div>
                <!-- Card Body -->
                <div id="cardBody2" class="card-body">
                  
              </div>
            </div>

          </div>
          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Unfiltered Patient Data</h6>
          </div>
          <div class="card-body">
            <div id="div1" class="table-responsive">
              <div id = "inProgress">
                <center><img id = "myImage" style='height:200px; width:200px;' src = "static/loading.gif">
                </center>
              </div>
              <center>FETCHING DEFAULT DATASET</center>
              
            </div>
          </div>
        </div>



      </div>

      </div>
      <!-- End of Main Content -->

          
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>made with ♥ at LAHacks</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script>
  function httpGet(theUrl)
  {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
      xmlHttp.send( null );
      return xmlHttp.responseText;
  }

  jsonString = httpGet("/recentupload");
  console.log(jsonString);
  obVal2 = JSON.parse(jsonString);

  document.getElementById("div1").innerHTML = obVal2.html;

  document.getElementById("cardBody1").innerHTML = obVal2.count1;
  document.getElementById("cardBody2").innerHTML = obVal2.count2 + "%";
</script>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="static/js/demo/chart-area-demo.js"></script>
  <script src="static/js/demo/chart-pie-demo.js"></script>

  

</body>

</html>
